#counter {
    height: 40vh;
    width: 40vh;
    font-size: 5rem;
    background-color: transparent;
    color: #8A7F72;
    border-radius: 40px;
}

#counter:hover {
    background-color: #837a6f;
    color: #675f55;
}

#counter:active {
    background-color: #5d574e;
    color: #8A7F72;
}